
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #f9f9f9, #e0f7fa);
  color: #333;
  line-height: 1.6;
}


.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5em;
  color: #00796b;
}

header p {
  font-size: 1.2em;
  color: #555;
}


section {
  margin-bottom: 25px;
}

section h2 {
  color: #004d40;
  margin-bottom: 10px;
}

section p, section ol {
  font-size: 1.1em;
  color: #444;
}


ol {
  padding-left: 20px;
}

ol li {
  margin-bottom: 8px;
}


button {
  background: #820707;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 1.1em;
  border-radius: 8px;
  cursor: pointer;
 
  margin-top : 10px;
}

button:hover {
  background: #004d40;
}


footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #777;
}
